<!DOCTYPE html>
<html>
    <head>
	     <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </head>
    <body>

	<script>
		function check_form(){
			alert("Welcome back " + $('#fname').val());
			$('#login').hide();
			$('#books').show();
			
			$('#cars').append('<option value="volvo">Thank you Taco</option>')
		

			return false;

			if($('#fname').val().length == 0){
				return false;
			}else{
				return true;
			}
		}
	function create(){ 
			$.post("/hellodb", { "username":$('#fname').val(), "password":$('#lname').val()}, 
				function(data, textStatus) {
				console.log(data);
				}, "json");
		if("{{ flash_message }}" == "False")
		{
		alert("we got a falsyyyy");
		}
	return check_form();}


	</script>
            <div id="login">
	      	<!form action="/hellodb" method="post" >
  			<input type="text" id="fname" name="fname" value="John"><br>
  			<input type="password" id="lname" name="lname" value="Doe"><br><br>
  			<input type="submit" value="Create" onclick=" return create();">

		<!/form>
	    </div>

	    <div id="books" style="display:none">
		    <h1>Buy me</h1>
		    <select name="cars" id="cars">

  		    </select>
	    </div>
	
	    <div id="error" style="display:none">
			
			
		
	    </div>
    </body>
</html>
